#image-gallery .modal-content .modal-body img{
    width: 100%;
    min-height: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 6px solid #FFC;
}

#image-gallery .modal-content .btn i{
    color: #000;
}
.eapps-instagram-feed-posts-item{
    border-top-left-radius: 80px !important;
    border-bottom-right-radius: 80px !important;
}
.close i{
    color: #000 !important;
    font-size: 21px;
    padding-right: 10px;
}
.women-health .women_box img{
border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    height: 300px;
    width: 100%;
    object-fit: cover;}

    .gallery-section{
        padding-top: 80px;
    }