.bladder-banner{
    background-image: url(../img/services/women/BladderDysfunction-banner.webp);
}
.female-banner{
    background-image: url(../img/services/women/Bowel-Issues-and-Prolapse-banner.webp);
}
.exercise-banner{
    background-image: url(../img/services/women/Pilates-for-Health-and-Wellness-banner.webp);
}
.pelvic-banner{
    background-image: url(../img/services/women/Pelvic-banner.webp);
}
.postpartum-banner{
    background-image: url(../img/services/women/pregnancy-and-postpartum.webp);
}
.color-text{
    color: #CAA983 !important;
}
.orthopedic-banner{
    background-image: url(../img/services/physoitheraphy/Orthopedic-physiotherapy-banner.webp);
}