.bladder-banner{
    background-image: url(../img/services/women/BladderDysfunction-banner.webp);
}
.female-banner{
    background-image: url(../img/services/women/Bowel-Issues-and-Prolapse-banner.webp);
}
.exercise-banner{
    background-image: url(../img/services/women/Pilates-for-Health-and-Wellness-banner.webp);
}
.pelvic-banner{
    background-image: url(../img/services/women/Pelvic-banner.webp);
}
.postpartum-banner{
    background-image: url(../img/services/women/pregnancy-and-postpartum.webp);
}
.color-text{
    color: #CAA983 !important;
}
.orthopedic-banner{
    background-image: url(../img/services/physoitheraphy/Orthopedic-physiotherapy-banner.webp);
}
.neuro-banner{
    background-image: url(../img/services/physoitheraphy/Neuro-banner.webp);
}
.sports-banner{
    background-image: url(../img/services/physoitheraphy/Sports-physiotherapy-banner.webp); 
}
.geriatric-banner{
    background-image: url(../img/services/physoitheraphy/Geriatric-physiotherapy-banner.webp); 
}
.pediatric-banner{
    background-image: url(../img/services/physoitheraphy/Pediatric-physiotherapy-banner.webp); 
}
/* yoga service banner */
.sports-banner{
    background-image: url(../img/services/physoitheraphy/Sports-physiotherapy-banner.webp); 
}
.corporate-banner{
    background-image: url(../img/services/yoga/Corporate-yoga-banner.webp); 

}
.pregnancy-banner{
    background-image: url(../img/services/yoga/Pregnancy-yoga-banner.webp); 
}
.medical-banner{
    background-image: url(../img/services/yoga/Medical-yoga-banner.webp); 
}
.general-yoga-banner{
    background-image: url(../img/services/yoga/General-yoga-and-pilates-banner.webp);
}
.aerial-banner{
    background-image: url(../img/services/yoga/Aerialyoga-banner.webp);
}