.bladder-banner{
    background-image: url(../img/services/women/BladderDysfunction-banner.webp);
}
.female-banner{
    background-image: url(../img/services/women/Bowel-Issues-and-Prolapse-banner.webp);
}
.exercise-banner{
    background-image: url(../img/services/women/Pilates-for-Health-and-Wellness-banner.webp);
}
.pelvic-banner{
    background-image: url(../img/services/women/Bowel-Issues-and-Prolapse-banner.webp);
}
.postpartum-banner{
    background-image: url(../img/services/women/Bowel-Issues-and-Prolapse-banner.webp);
}
